@keyframes start_play {
	0% {
		opacity: 1;
		transform: translateY(0);
	}
	30% {
		transform: translateY(-5rem);
	}
	100% {
		opacity: 0;
		display: none;
		transform: translateY(50rem);
	}
}

@keyframes enter_student {
	0% {
		transform: translateX(-100rem);
	}
	100% {
		transform: translateX(0rem);
	}
}

@font-face {
	font-family: DynaPuff;
	src: url("./assets/DynaPuff-VariableFont_wdth\,wght.ttf") format("truetype");
}

:root {
	--font-color: hsl(0, 0%, 5%);
	--start-button: hsl(135, 72%, 52%);
	--scores-button: hsl(59, 67%, 52%);
	--reset-button: hsl(4, 66%, 52%);
	--title-main: hsl(59, 100%, 51%);
	--title-description: hsl(41, 100%, 60%);
	--entity-outline: 2px solid hsla(0, 0%, 0%, 0.5);
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: DynaPuff, Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 1.6;
	color: var(--font-color);
}

body {
	overflow: hidden;
}

[bg-img] {
	transform: scale(1.4, 1.4);
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	z-index: -999;
	filter: blur(5px);
}

[x-opening] {
	padding: 5rem;
	height: 100vh;
	display: flex;
	justify-content: space-between;
	align-items: center;

	div[x-title] {
		user-select: none;
		display: flex;
		flex-direction: column;

		[p-title] {
			text-shadow: 0px 5px 0px #1f0d08, 0px -5px 0px #1f0d08, -5px 0px 0px #1f0d08, 4px 0px 0px #1f0d08;
			color: var(--title-main);
			font-size: 3.5rem;
		}

		[p-description] {
			text-shadow: 0px 5px 0px #1f0d08, 0px -5px 0px #1f0d08, -5px 0px 0px #1f0d08, 4px 0px 0px #1f0d08;
			color: var(--title-description);
			font-size: 2rem;
		}
	}

	div[x-actions] {
		display: flex;
		flex-direction: column;
		gap: 1rem;

		button {
			user-select: none;
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 3rem;
			padding: 1rem;
			border-radius: 1rem;
			border: none;
			background: none;
			box-shadow: 0px 5px 10px hsla(0, 0%, 0%, 0.5);
			transition: transform 0.6s ease;
			svg {
				margin-right: 1rem;
			}
		}

		button:hover {
			transform: scale(1.1, 1.1) rotate(2deg);
		}

		[b-start] {
			background-color: var(--start-button);
		}

		[b-scores] {
			background-color: var(--scores-button);
		}

		[b-reset] {
			background-color: var(--reset-button);
		}
	}
}
[x-game] {
	padding: 5rem;
	height: 100vh;
	display: flex;
	justify-content: space-between;
	align-items: center;

	[g-scores] {
		position: fixed;
		top: 1rem;
		left: 1rem;
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
	}
	div {
		[g-info] {
			border: var(--entity-outline);
			padding: 1rem;
			border-radius: 1rem;
			margin-top: 1rem;
			[g-actions] {
				display: flex;
				justify-content: center;
				gap: 1rem;
				width: 100%;
				margin-bottom: 1rem;

				[accept] {
					background-color: var(--start-button);
				}
				[reject] {
					background-color: var(--reset-button);
				}
				button {
					width: 100%;
					border-radius: 0.5rem;
					border: var(--entity-outline);
					padding: 1rem;
				}
			}
			[g-student-desc] {
				display: flex;
				justify-content: space-between;
			}
		}
		[g-grid] {
			display: grid;
			grid-template-columns: repeat(20, 1fr);
			grid-template-rows: repeat(3, 1fr);

			[student] {
				animation: enter_student 5s ease 1 normal forwards;
				border: var(--entity-outline);
				width: 20px;
				height: 20px;
				align-self: center;
				justify-self: center;
				margin: 0.5rem;
				background-color: hsl(50, 63%, 51%);
				border-radius: 100%;
				grid-row-start: 2;
				grid-row-end: 3;
			}
			[guard] {
				border: var(--entity-outline);
				width: 30px;
				height: 30px;
				margin: 0.5rem;
				background-color: hsl(212, 63%, 51%);
				border-radius: 100%;
				grid-row-start: 1;
				grid-row-end: 2;
				grid-column-start: 12;
				grid-column-end: 13;
			}
			[wall],
			[gate] {
				border: var(--entity-outline);
				height: 100%;
				background-color: hsla(0, 0%, 50%, 0.5);
			}
			[gate] {
				width: 20px;
				background-color: hsl(41, 40%, 51%);
				grid-row-start: 2;
				grid-row-end: 3;
				grid-column-start: 13;
				grid-column-end: 14;
			}
			[wall-1],
			[wall-2] {
				border-right: none;
			}
			[wall-3] {
				border-left: none;
			}
			[wall-1] {
				grid-row-start: 1;
				grid-row-end: 2;
				grid-column-start: 13;
				grid-column-end: 17;
			}
			[wall-2] {
				grid-row-start: 3;
				grid-row-end: 4;
				grid-column-start: 13;
				grid-column-end: 17;
			}
			[wall-3] {
				grid-row-start: 1;
				grid-row-end: 4;
				grid-column-start: 17;
				grid-column-end: 21;
			}
		}
	}
}
.start_play {
	animation: start_play 1s ease 1 normal forwards;
}
.no-display {
	display: none;
}
